############################################################
# ================= ОС =====================================
############################################################

.DS_Store
Thumbs.db
Desktop.ini

############################################################
# ================= IDE ====================================
############################################################

.vscode/
.idea/
.vs/
cmake-build-*/

*.suo
*.user
*.iml

############################################################
# ================= C++ BUILD ==============================
############################################################

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.dll
*.so
*.dylib

# Executables
*.exe
*.out

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

############################################################
# ================= LATEX (игнорим только мусор) ===========
############################################################

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml

############################################################
# ================= TEMP ===================================
############################################################

*.tmp
*.bak
*.swp
*~